<header>
        <div class="container">
            <div class="row center">
                 <div class="col-md-6">
                     <form name="searchForm" ng-submit="vm.getMovieData()">
                         <span ng-class="{ 'has-error': vm.errorInput === true }">
                    <input type="text" name="finderInput"
                     ng-model="vm.movieName" class="form-control">
                     <span style="color: white;" ng-if="searchForm.finderInput.$pristine && vm.errorInput !== true">
                         Будь ласка, введіть назву фільму :)</span>
                         </span>
                        <span class="text-danger" ng-if="vm.errorInput === true">
                         Ви не вписали назву</span>
                         </span>
                    </form>
                </div>
            </div>  
        </div>
</header>
    <div class="container">
    <div class="row">
    <!-- <b ng-if="vm.movieData !== null">Found : <span ng-bind="vm.movieData.total_results"></span></b> -->
    </div>
    </div>

    
    <!-- <pre>{{vm.movieData | json}}</pre>  -->