header {
    color: black;
    display: block;
    margin-top: 10px;
}
.search {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 50px 0px;
}
.form-control, .form-group .form-control {
    color: white;
}