body, h1, .h1, h2, .h2, h3, .h3 {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.movie-title {
        padding: 15px 0 0 15px;
        font-weight: bold;
}
.movie-release {
        padding: 10px 0px;
        font-weight: bold;
        color: #9c27b0;
}